.subtitle{
    font-family: "Roboto";
    color: $main-color;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

.title{
    font-family: "yesevaone";
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.button{
    display: block;
    font-size: 14px;
    padding: 18px 0 17px;
    font-family: "Roboto";
    text-align: center;
    width: 200px;
    color: #fff;
    border: 0.5px solid $main-color;
    transition: all .3s ease;
    &:hover{
        background-color: $main-color;
    }
}

.arrow-icon{
    stroke: $main-color;
    opacity: .5;
    transition: all .3s ease;
}

.swap-button{
    background: none;
    border:none;
    cursor: pointer;
    &:hover .arrow-icon{
        stroke: #fff;
        opacity: 1;
    }
}

.lead__text{
    text-align: center;
    font-family: "Roboto";
    margin: 0 auto;
}

.lead__text-title{
    margin: 23px 0;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.lead__text-subtitle{
    line-height: 26px;
    padding:0 30px;
}

@media (max-width: $large-width) {
    .title{
        margin: 23.44px auto;
    }

    .button{
        display: block;
        font-size: 12px;
        padding: 16px 0 15px;
        text-align: center;
        width: 141px;
    }

}
@media (max-width: $tablet-width) {
    
    .title{
        margin: 30px auto;
    }

    .subtitle{
        font-size: 14px;
        line-height: 19px;
    }

    .button{
        font-size: 12px;
        width: 141px;
    }

    .lead__text-subtitle{
        line-height: 19px;
        padding:0 0px;
    }
}