.main__benefits{
    padding: 60px 0 99px;
}

.main__benefits-lead{
    text-align: center;
    margin-bottom: 47px;
}

.main__benefits__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main__benefits__content-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #1F1C1D;
    border: 20px solid #1F1C1D;
    padding: 44px 24px 24px;
    width: 360px;
    height: 305px;
    font-family: "Roboto";
    color: #fff;
    text-align: center;
    transition: all .3s ease;
    &:hover{
        background-color: $main-color;
    }&:hover .main__benefits__content-icon{
        fill: #fff;
        stroke: $main-color;
    }
}

.main__benefits__content-icon{
    fill: $main-color;
    stroke: #1F1C1D;
    transition: all .3s ease;
}

.main__benefits__content-desc{
    font-weight: 300;
    line-height: 26px;
    font-family: "Roboto";
    font-size: 16px;
    margin: 0;
    padding: 0 5%;
}

@media (max-width: $large-width) {
    .main__benefits__content{
        flex-direction: column; 
    }
    
    .main__benefits__content-item{
        margin: 20px auto; 
    }
}

@media (max-width: $tablet-width) {
    .main__benefits{
        padding: 20px 0 60px;
    }

    .main__benefits__content{
        flex-direction: column; 
    }
    
    
    .main__benefits__content-item{
        width: 100%;
        margin: 15px auto;
        padding: 40px 0; 
    }

    .main__benefits__content-desc{
        font-weight: 300;
        line-height: 19px;
        font-family: "Roboto";
        margin: 0;
        font-size: 14px;
        padding: 0 20px;
    }

}