.main-breeds{
    background-color: #1F1C1D;
    padding: 30px 0;
}

.main-breeds__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-breeds_lead{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 0 45px;
}

.features__content{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.features__content-picture{
    float: left;
    shape-outside: circle(50%);
    clip-path: circle(50%);
    max-height: 100%;
    max-width: 623px;
    object-fit: cover;
}    
.features__content-list{
    list-style-type:none;
}

.features__content-item{
    &:nth-child(odd) .features__content-text::after{
        content: '';
        width: 15px;
        height: 15px;
        background-color: $main-color;
        border-radius: 10px;
        display: block;
        float: right;
        padding: 3px 5px;
        
    }
    &:nth-child(even) .features__content-text::before{
        content: '';
        width: 15px;
        height: 15px;
        background-color: $main-color;
        border-radius: 10px;
        display: block;
        float: left;
        padding: 3px 5px;
    }

    &:nth-child(odd) .features__content-text{
        text-align: right;
    }

    &:nth-child(even) .features__content-text{
        text-align: left;  
    }
}

.features__content-text{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    display: block;
    text-align: left;
}


@media (max-width: $large-width) {

} 

@media (max-width: $tablet-width) {

}