.reviews{
    background-color: #1F1C1D;
    padding-bottom: 100px;
}

.reviews-title{
    font-size: 36px;
    text-align: center;
    padding: 20px 0 0 0;
    margin: 0 0 50px 0;
}

.reviews-swipper{
    position: relative;
    margin:0 auto;
    width: 100%;
}

.reviews-swipper__list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.review__swap-buttons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 8%;
    left: 1%;
    bottom: 0;
    top: 0;
    z-index: 6;
}

.reviews-swipper__list-item{
    position: relative;
    min-width: 100%;
    margin: 0 auto;
}

.review{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin:0 auto;
}

.review-picture{
    z-index: 4;
}

.review__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 90px 130px 60px 145px;
    background-color: #151313;  
    transform: translateX(-90px);
    z-index: 2;
}

.review__content-title{
    color: #fff;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 28px;
    margin: 20px 0;
}

.review__content-desc{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.72);
    margin: 0;
}

.review__socials{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 37px 24px;
}

.review__socials-date{
    font-size: 12px;
    font-family: "Roboto";
    line-height: 19px;
    color: $main-color;
    padding:0 10px;
    opacity: .9;
}

.review__socials-link{
    margin:0 8px;
    border: 0.5px solid $main-color;
    padding: 6px 4px 2px 2px;
    transition: all .3s ease;
    &:hover{
        border: 0.5px solid #fff;
    }
    &:hover .review__social-icon{
        fill: #fff;
    }
}

.review__social-icon{
    transition: all .3s ease;
    fill: $main-color;
}


@media (max-width: $large-width) {
    .reviews__inner{
        padding: 0px 20px;
    }

    .reviews{
        padding: 30px 0;
    }

    .review{
        flex-direction: column;
        width: 100%;
    }

    .review-picture img{
        max-width: 302px;
        object-fit: cover;
    }
    
    .review__content {
        flex-direction: column;
        justify-content: center;
        padding: 100px 75px 20px;
        text-align: center;
        transform: translateX(0);
        transform: translateY(-90px);
        z-index: 2;
    }
    .review__socials {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 27px 0;
    }
    .review__content-desc {
        padding: 0 10%;
    }

    .review__swap-buttons {
        right: -30px;
        left: -30px;
        z-index: 6;
    }

    .reviews-swipper__list-item{
        padding: 0 20px;
    }

}

@media (max-width: $tablet-width) {
    .review-picture img{
        max-width: 242px;
    }
    .reviews{
        padding: 0;
    }
    
    .reviews__inner{
        padding: 0;
    }
    .review__content {
        flex-direction: column;
        justify-content: center;
        padding: 100px 30px 20px;
        background-color: #181617;
        z-index: 2;
    }
    .review__socials {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 27px 0;
    }
    .review__content-desc {
        line-height: 19px;
        padding: 0;
    }

    .review__swap-buttons {
        right: -5px;
        left: -5px;
        bottom: auto;
        top: 64px;
    }

    .reviews-swipper__list-item{
        padding: 0;
    }
}